.container{
  text-align: center;
  padding: 40px;
  background-color: rgb(36, 144, 144);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-height: 100vh;
  max-width: 500px;
  border-radius: 15px;
}
body{
  background-color: aqua;
}
.buttons{
  margin:20px 0;
}
.btn{
  padding: 10px 20px;
  margin: 40px;
  color: white;
  background-color: crimson;

}
.happy{
  background-color: palevioletred;
}
.sad{
  background-color: gray;
}
.excited{
  background-color:purple;

}
.angry{
  background-color: red;
}
.box{
  margin-top: 30px;
  font-size: 24px;
}